<html>

<head>
  <title>
    helm-list-viewer
  </title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
  <main class="col-md-8">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">&gt;</span>
      </div>
      <input id="command"></input>
      <div class="input-group-append">
        <button id="fetchButton">Click or enter to execute command</button>
      </div>
    </div>
    <ul id="cli-result-list"></ul>
    <span id="cli-result"></span>
  </main>




  <script src="/js/jquery-3.6.0.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/script.js"></script>
</body>

</html>